.Container {
    width: 100%;
}

.Project {
    display: flex;
    flex-direction: column;
    background-color: var(--accent-color);
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    position: relative;
}

.Project > a {
    display: flex;
    align-items: center;
    color: inherit;
    margin-bottom: 0.5rem;
    width: fit-content;
}

.Repo {
    position: absolute;
    top: 2px;
    right: 2px;
}
