.Projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.Projects:hover,
.Projects:active {
    text-decoration: underline;
}
