.Bio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--primary-color);
    width: 40%;
    margin: auto;
}

.Image {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Info {
    /*margin-top: 1rem;*/
    /*font-size: 1.0rem;*/
}
