* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

body.light-mode {
    background-color: #FFFFFF;
    --primary-color: black;
    --accent-color: rgba(0, 0, 0, 0.3)
}
body.dark-mode {
    background-color: #1A202C;
    --primary-color: white;
    --accent-color: rgba(255, 255, 255, 0.3)
}